.div-login {
    background-color: rgb(32, 55, 110);
    height          : 100vh;
}

.form-login {
    padding         : 3%;
    background-color: cadetblue;
    margin          : 10% auto;
    display         : flex;
    flex-direction  : column;
    justify-content : space-around;
    width           : 30%;
}